#div{
   
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    display: block;   /* or inline-block */
    margin-top: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black; 
}

